/* Structure */
:root {
    --primary-color: #73000A;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

#content {
    min-width: 600px;
}

#main-header {
    
}

#heading {
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    margin: 0px;
}

#logo {
    max-width: 350PX;
}

#search {
    display: none;
    float: right;
}

#searchmenu {
    float: right;
}

#subheadding {
    background-color: var(--primary-color);
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    color: white;
}

/* Main Navigation */

#main-nav {
    display: none;
    background: black;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    padding-left: 5px;
    padding-right: 5px;
}

#main-nav a {
    font-size: x-small;
    text-decoration: none;
    color: white;
}



/* Media Query */

@media only screen and (min-width: 900px) {
    .columns {
        display: flex;
    }

    #search {
        display: block;
    }

    #searchmenu {
        display: none;
    }

    #main-nav {
        display: flex;
    }

}