/* Structure */
:root {
    --primary-color: #73000A;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

#content {
    min-width: 600px;
}

#main-header {
    
}

#heading {
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
    margin: 0px;
}

#logo {
    max-width: 350PX;
    
}

#search {
    display: none;
    text-align: right;
}

#searchmenu {
    text-align: right;
}

#subheadding {
    background-color: var(--primary-color);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: white;
}

#main-content {
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#information {
    
}

#top-info {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: gray;
}

#bottom-info {

}

#expansion ul {
    list-style-type: none;
    padding: 0;
}

#expansion li {
    padding: 5px;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: gray;
    font-size: large;
    font-weight: bold;
    color: var(--primary-color);
}

#side-content section {
    border: 1px;
    border-color: gray;
    border-left: 5px;
    border-left-color: var(--primary-color);
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

#side-content li {
    list-style-type: none;
}

#side-content h2 {
    font-size: large;
}

#side-content a {
    color: var(--primary-color);
    font-weight: bold;
}

#main-footer {
    
}

#top-subfooting {
    background-color: gray;
    padding-left: 10%;
    padding-right: 10%;
}

#top-subfooting h3 {
    justify-content: left;
}

#top-subfooting ul {
    list-style-type: none;
    justify-content: right;
    
    
}

#top-subfooting li {

}

#top-subfooting a {
    color: black;
    font-size: medium;
    text-decoration: none;
}

#footing {
    background-color: var(--primary-color);
    padding-left: 10%;
    padding-right: 10%;
    
}

#footing ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#footing li {
    padding: 0;
    margin: 0;
}

.link-lists {
    padding: 15px;
    margin: 0;
}

.link-lists h3 {
    color: white;
    border: 0px;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}

#footing a {
    text-decoration: none;
    color: white;
    font-size: small;
}

#bottom-subfooting {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: white;
}

#bottom-subfooting ul {
    list-style-type: none;
    padding-left: 0;
}

#bottom-subfooting li {
    flex: 1;
    text-align: center;
}

#bottom-subfooting a {
    color: white;
    font-size: small;
    text-decoration: none;
    white-space: nowrap;
}

.right-border {
    border: 0;
    border-right: 1px;
    border-style: solid;
    border-color: white;
    
}

.pcolumns {
    display: flex;
}

/* typography */

#main-content h2 {
    color: var(--primary-color);
    font-weight: bolds;
}

#top-info p {
    font-size: larger;
}

a:hover {
    color: white;
    background-color: red;
}

/* Main Navigation */

#main-nav {
    display: none;
    background: black;
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
}

#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: x-small;
}

#main-nav a {
    font-size: x-small;
    text-decoration: none;
    color: white;
}

/* Side Nav */

#side-nav {
    display: none;
    min-width: 240px;
    padding-top: 0;
    padding-right: 20px;
}

#side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#side-nav li {
    padding: 5px;
    border-bottom: 1px;
    border-color: gray;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#side-nav ul li a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: black;
}

#myschool {
    float: right;
    color: black;
    font-size: small;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

/* Media Query */

@media only screen and (min-width: 900px) {
    .columns {
        display: flex;
    }

    #search {
        display: block;
    }

    #searchmenu {
        display: none;
    }

    #main-nav {
        display: flex;
    }

    #side-nav {
        display: block;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

}