:root {
    --primary-color: #F26F63;
    --secondary-color: #D98179;
    --background-color:#A6A6A6;
    --header-bg:#D9D9D9;
    --star-color: yellow;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width:80%;
    margin:auto;
    text-align: center;
}

#main-header, #main-footer {
    padding:5px;
}

#main-content {
    padding:5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#main-content section {
    text-align: left;
    padding: 5px;
    background: teal;
    max-width: fit-content;
}

#div-stars {
    background: black;
    width: 400px;
    height: 400px;
    position: relative;
}

#main-footer {

}

/* Special */

#item {
    width:100px;
    height:100px;
    border-radius: 50px;
    background:white;
}

.star {              /* Star Code Copied from https://www.coding-dude.com/wp/css/css-star/ */               
    --sqrt-3:1.73205080757;
    margin: 0 auto;
    font-size:0.4em;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: calc( 1em * var(--sqrt-3) ) solid var(--star-color);
}

.star:after{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    left:-1em;
    top:calc( 1em * var(--sqrt-3) / 3 );
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: calc( 1em * var(--sqrt-3)  ) solid var(--star-color);
}

.special {
    padding: 5px;
    color: black;
}

/* Typography */
#information h3 {
    text-align: center;
}

h1 {
    color:var(--primary-color);
}

h2 {
    color:var(--secondary-color);
}


.error {
    color: red;
}