body {
    font-famiy: "Comic Sans MS", cursive, sans-serif;
    background: lightblue;
}

#content {
    background: white;
    padding: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}