/* Structure */
:root {
    --primary-color: #008082;
    --secondary-color: #00A19D;
    --tertiary-color: #536877;
    --background-color: #91A3B1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--tertiary-color);
    background-size: 100%;
}

#content {
    background: white;
}

#main-header, #main-footer {
    background: var(--background-color);
}

#main-content ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Typography */

#main-header h1, h2 {
    color: var(--primary-color);
    text-align: center;
}

#main-content h2 {
    color: var(--secondary-color);
    text-align: center;
}

p {
    text-align: center;
}

