/* Structure */
:root {
    --primary-color: #b1b996;
    --secondary-color: #af866e;
    --tertiary-color: #704226;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background:url('images/background.jpg');
    background-size:100%;
}

#content {
    width:70%;
    margin:auto; /*Centering*/
}

#main-content {
    padding: 10px;
    background: var(--primary-color);
}

#main-header, #main-footer {
    background: var(--secondary-color);
    padding: 10px;
}

/* Images */

img {
    background-color: #8C5230;
    padding: 4px;
}

/* Table */

#plush-table {
    border-collapse: collapse;
}

#plush-table th, #plush-table td {
    border:1px solid #8C5230;
}

#plush-table th {
    background: var(--primary-color); 
}

#plush-table td {
    background: white;
}

/* Typogrophy */
h1 {
    color: #382113;
}

h2 {
    color: var(--tertiary-color);
}

/* Navigation */
#main-nav ul {
    padding-left: 0px;
    
}

#main-nav li {
    list-style-type: none;
    display: inline-block; /* made horizontal */
    background-color: #799120;
    padding: 5px;
    border-radius: 10px;

}

#main-nav a {
    color: #704226;
    text-decoration: none;
}

#main-nav a:hover {
    color: #382113;
}



/* Larger Resolutions */