/* Structure */

#content {

}

#main-header {
    justify-content: center;
}

.margins {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
}

#main-content {
    text-align: center;
}

.box {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    max-width: fit-content;
    padding: 10px;
    margin-right: 10px;
}

.box ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.box a {
    text-decoration: none;
    color: black;
}

#top-trending {

}

#explore {
    justify-content: center;
}

#explore section {
    padding: 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    max-width: fit-content;
}

#explore .box {
    margin-right: 0;
    margin-top: 5px;
}

    /* Main-content artists */

    #artists .box {
        margin-top: 10px;
    }

/* Main Nav */
#main-nav {
    
}

#main-nav ul {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    text-align: center;
    margin: 0;
    padding: 0;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

/* Typography */
#main-header h1 {
    text-align: center;
}

/*Media Query*/
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }
    
    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    /* header */
    #main-header {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: lightgrey;
    }

    #main-header div {
        display: flex;
        justify-content: space-between;
    }

    #main-header h1 {
        text-align: left;
        width: fit-content;
        margin-bottom: 0;
    }

    #main-nav {
        float: right;
        width: 300px;
    }

    #main-nav ul {
        
    }

    #main-nav li {
        flex: 1;
    }

    /* main-content (home) */

    #main-content {
        text-align: left;
    }

    /* main-content (artists) */

    .subheadding h2 {
        margin-bottom: 0;
        max-width: fit-content;
    }

    #search-bar {
        text-align: right;
        margin-bottom: 0;
    }
}