/* Structure */

#content {
    background-color: lightblue;
}

#main-header {

}

#main-content {

}

#main-footer {

}

.flex-container {
    display: flex;
    justify-content: center;
}

.container {
    background-color: blanchedalmond;
    text-align: center;
    width: 250px;
    max-height: 500px;
    justify-content: center;
}

.containerContent {
    display: flex;
    flex-direction: column;

}

.container ul {
    text-align: left;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
   height: 20%;
   width: 20%;
}

/* Navigation */
#main-nav ul{
    padding-left: 0px;
    list-style-type: none;
}

#main-nav li {
    padding: 10px;
    margin: 2px 0;
}

#main-nav a {
    text-decoration: none;
}


/* Hamburger Menu */
#nav-toggle div{

}

/* Typography */


.hidden {
    display: none;
}

body {
    font-family: "Times New Roman";
    background-color: lightblue;
}

h1 {
    font-family: "Times New Roman";
    text-align: center;
}

h2 {
    font-family: "Times New Roman";
    text-align: center;
}

/* Larger resolutions */

@media only screen and (min-width: 900px) {

    #main-nav {
        display: flex;
        justify-content: center;
    }

    #main-nav li {
        display: inline-block;
    }

    #nav-toggle {
        display: none;
    }

    #main-nav li:not(:last-child)::after {
        content: " | ";
        margin-left: 20px;
    }

}