:root {
    --primary-color: navy;
    --secondary-color: teal;
    --background-color: #FFFDD0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

#content {
    width:80%;
    margin:auto;
}

#main-header, #main-footer {
    padding:5px;
}

#main-content {
    padding:5px;
    display: flex;
    justify-content: center;
}

#main-content section {
    text-align: center;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0;
    padding: 10px;
    width: fit-content;
}

#main-footer {

}

/* Navigation */

#main-nav ul {
    padding-left:0;
    list-style-type: none;
}

#main-nav li {
    margin: 3px;
    margin-bottom:2px;
}

#main-nav a:hover {
    color:var(--primary-color);
}

#main-nav a {
    text-decoration: none;
    color:var(--secondary-color);
}

#toggle div {
    
}

/* Buttons Ul */

#buttons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Hide / Show */
.hidden {
    display: none;
}

.hide-small {
    display: none;
}

/* Typography */
h1 {
    color:var(--primary-color);
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    color:var(--secondary-color);
    text-align: center;
}

/* Media Query */
/* For larger devices e.g. labtops */
@media only screen and (min-width: 600px) {

    .columns {
        display:flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    img {
        max-width:95%;
    }

    #toggle {
        display: none;
    }

    .hide-small {
        display: flex;
    }

    #main-nav {
        display: flex;
        justify-content: center;
    }

    #main-nav li:not(:last-child)::after {
        content: "|";
        color: var(--secondary-color);
        margin-left: 5px;
    }

    
}