/* Structure */

#content {
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto;
    border-radius: 5px;
}

#main-content {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}


#main-footer {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

body {

}

.center-margin {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.nav-column {
    display: none;
}

.content-column {
    padding: 20px;
}

.department-highlights-row {
    display: flex;
}

/* Main Navigation */

.banner-toolbox ul {

}

.banner-toolbox li {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    list-style-type: none;
    text-align: center;
    float: left;
}

.banner-toolbox a {
    text-decoration: none;
    color: white;
}

.side-tools ul {

}

.side-tools li {
    list-style-type: none;
    width: 300px;
    margin-bottom: 15px;

    border-top-style: solid;
    border-top-width: 1px;
}

.side-tools b {
    text-decoration: none;
    color: Black;
    font-size: 23px;

}

.banner-row {
    background-color: black;
}

.title-row {
    background-color: darkred;
}
.banner-toolbox {
    display: none;
}
.banner-tools {
    display: inline;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1 {
    color: white;
    font-size: 20px;
}

a {
    color: white;
}

.highlight-text h2 {
    color: darkred;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.highlight-text p {
    font-size: 20px;
    line-height: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Larger resolutions */

@media only screen and (min-width: 900px) {
    #main-nav ul{
        display: flex;
    }

    .text-row {

    }

    .department-highlights-column {

    }

    .department-highlights-row {
        display: flex;
    }

    .side-information-column {

    }

    .nav-column {
        display: flex;
    }

    .content-column {

    }

    .side-information-row {
        display: flex;
    }
    .banner-row {

    }

    .main-row {
        display: flex;

    }

    .columngrid_4 {
        display: flex;
        flex: 1;
        margin-bottom: 10px;

    }

    .columngrid_8 {
        display: flex;
        flex: 1;
        margin-top: 40px;
        Justify-content: right;
    }

    .banner-toolbox {
        display: flex;
        Justify-content: right;

    }

    .title-row {
        display: flex;
    }

    .center-margin {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 55%;
    }
}